#type4 {
  padding: unset;
  .content {
    border: 1px solid grey;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: inherit;
    background-color: white;
    height: 60px;
    opacity: 0;
    transform: translateY(20px);
    .fas {
      font-size: 2em;
      padding-right: 0.4em;
    }
    p {
      margin-right: auto;
      font-size: 1.5em;
      margin-left: 5px;
      letter-spacing: -1px;
    }
    span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: -2px;
      font-family: verdana, sans-serif;
      font-size: 1.1em;
      color: grey;
    }
  }

  &:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
}
