#type3 {
  .content {
    padding-top: 8rem;

    h1,
    h3 {
      color: gold;
      text-align: center;
    }
    h3 {
      width: max-content;
      margin: 3rem auto 0;
      padding: 1rem;
      color: rgb(207, 181, 30);
      transform: translateY(10px);
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }

    span {
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.384);
      padding: 5px 10px;
      letter-spacing: -1px;
      font-size: 1.2em;
    }
  }

  img {
    width: 100%;
  }

  &:hover h1 {
    transform: translatey(-10px);
  }
  &:hover h3 {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover img {
    opacity: 0.9;
  }

  &::before {
    content: '';
    position: absolute;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    top: 2em;
    bottom: 2em;
    left: 1em;
    right: 1em;
    transform: scale(
      0,
      1
    ); /* this one is important. this will be preserve y axis of tag. so x axis's can start grow properly from their point*/
    transform-origin: left;
  }
  &::after {
    content: '';
    position: absolute;
    border-left: 3px solid white;
    border-right: 3px solid white;
    top: 1em;
    bottom: 1em;
    left: 2em;
    right: 2em;
    transform: scale(1, 0);
    transform-origin: top;
  }
  &:hover::before {
    transform: scale(1);
    z-index: 1 !important;
  }
  &:hover::after {
    transform: scale(1);
  }
}
